Repository mad-coders/sylius-plugin-skeleton-generator, pull requests merged in 2022-06, with the labels that each got.

#6 App core and groundwork
  api/data/.gitignore
  api/package.json
  api/src/app.controller.spec.ts
  api/src/app.controller.ts
  api/src/app.module.ts
  api/src/app.service.ts
  api/src/input-data/interface.ts
  api/src/input-data/mock.provider.ts
  api/src/input-data/mock.service.ts
  api/src/input-data/provider.ts
  api/src/job.context.ts
  api/src/pipeline.factory.ts
  api/src/processor.service.ts
  api/src/processorsPipeline.service.ts
  api/src/task/pluginClass.task.spec.ts
  api/src/task/pluginClass.task.ts
  api/src/task/task.context.ts
  api/src/task/task.interface.ts
  api/src/task/updateNamespace.task.spec.ts
  api/src/task/updateNamespaces.task.ts
  api/yarn.lock
Labels: api

#9 Basic pipeline
  .github/workflows/api.yml
Labels: api

#3 #1 first version form
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/assets/img/madcoders-logo-slogan.png
  frontend/src/index.html
  frontend/src/styles.scss
  frontend/tailwind.config.js
Labels: frontend

#12 #1 added formgroup and formarray
  frontend/src/app/ interfaces/plugin-authors.interface.ts
  frontend/src/app/ interfaces/plugin-name-request-data.interface.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/assets/img/logo_macopedia_rgb.png
Labels: frontend

#14 #13 Added form validation
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
Labels: frontend

#16 #15 Add Email Input Validation
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
Labels: frontend

#18 #17 Creating a service for api requests
  frontend/src/app/ interfaces/plugin-name-request-data.interface.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.component.scss
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/services/generator.service.ts
  frontend/src/environments/environment.ts
Labels: frontend

#11 #10 terraform pipeline basics
  .github/workflows/frontend.yml
  .github/workflows/infrastructure-frontend.yml
  frontend/angular.json
  frontend/src/environments/environment.prod.ts
  infrastructure/frontend/.gitignore
  infrastructure/frontend/.terraform.lock.hcl
  infrastructure/frontend/backend.dev.hcl
  infrastructure/frontend/backend.prod.hcl
  infrastructure/frontend/dev.tfvars
  infrastructure/frontend/main.tf
  infrastructure/frontend/prod.tfvars
Labels: frontend, infrastructure

#21 update locak and take ccare about CF cache invalidation
  .github/workflows/frontend.yml
  frontend/package-lock.json
Labels: frontend, infrastructure
